---
# tasks for add picodata repo and install package picodata
- block:

  - block:
    - name: ({{ cluster_name }}) Set filename of package
      ansible.builtin.set_fact:
        pkg_name: '{{ picodata_package_path | basename  }}'

    - name: ({{ cluster_name }}) Copy package to remote hosts
      ansible.builtin.copy:
        src: '{{ picodata_package_path }}'
        dest: '/tmp'

    - name: ({{ cluster_name }}) Install Picodata package for rpm-based
      ansible.builtin.dnf:
        name: '/tmp/{{ pkg_name }}'
        state: present
        disable_gpg_check: true
        use_backend: dnf
      when: ansible_pkg_mgr in ['dnf', 'dnf5']

    - name: ({{ cluster_name }}) Install Picodata package for deb-based
      ansible.builtin.apt:
        deb: '/tmp/{{ pkg_name }}'
        state: present
      when: ansible_pkg_mgr == 'apt'

    - name: ({{ cluster_name }}) Install Picodata package for Altlinux
      ansible.builtin.shell:
        cmd: 'rpm -i /tmp/{{ pkg_name }}'
      when: ansible_pkg_mgr == 'apt_rpm'

    - name: ({{ cluster_name }}) Clean temporary files
      ansible.builtin.file:
        path: '/tmp/{{ pkg_name }}'
        state: absent

    when: picodata_package_path != false
    # end block

  - block:
    - name: ({{ cluster_name }}) Get install script for Picodata repo
      ansible.builtin.get_url:
        url: '{{ repo }}/tarantool-picodata/install.sh'
        dest: './'
        mode: '0755'
        validate_certs: '{% if ansible_distribution == "CentOS" and ansible_distribution_major_version == "7" %}false{% else %}true {% endif %}'

    - name: ({{ cluster_name }}) Install Picodata repo
      ansible.builtin.command:
        cmd: 'sh -c ./install.sh'

    - name: ({{ cluster_name }}) Install Picodata soft for rpm and deb based distrs
      ansible.builtin.package:
        name:
          - '{{ package_with_version | default("picodata") }}'
      when: ansible_os_family != 'Altlinux'

    - name: ({{ cluster_name }}) Install Picodata soft for Altlinux based distrs
      ansible.builtin.shell:
        cmd: 'apt-get update -f -m && apt-get install -y {{ package_with_version | default("picodata") }}'
      when: ansible_os_family == 'Altlinux'

    - name: ({{ cluster_name }}) Clean temporary files
      ansible.builtin.file:
        path: ./install.sh
        state: absent

    when: picodata_package_path == false
    # end block

  become: true 
