---
# tasks for plugins
- block:

  - name: ({{ cluster_name }}) Debug {{ plugin.key }}
    ansible.builtin.debug:
      var: plugin
    when: debug == true

  - name: ({{ cluster_name }}) Unarchive package into plugins-dir {{ plugin.key }}
    ansible.builtin.unarchive:
      src: '{{ plugin.value.path }}'
      dest: '{{ plugins_dir }}'
      owner: '{{ user }}'
      group: '{{ group }}'
      list_files: true
    run_once: false
    register: archive

  - name: ({{ cluster_name }}) Change ownership for plugins-dir {{ plugin.key }}
    ansible.builtin.file:
      dest: '{{ plugins_dir }}'
      owner: '{{ user }}'
      group: '{{ group }}'
      recurse: yes
    run_once: false

  - name: ({{ cluster_name }}) Find manifest file {{ plugin.key }}
    ansible.builtin.set_fact:
      manifest_file: "{{ archive.files | select('ansible.builtin.search', '.*/manifest.yaml$') | list | first }}"

  - name: ({{ cluster_name }}) Load manifest file {{ plugin.key }}
    ansible.builtin.slurp:
      src: '{{ plugins_dir }}/{{ manifest_file }}'
    register: manifest_slurp

  - name: ({{ cluster_name }}) Set manifest variable {{ plugin.key }}
    ansible.builtin.set_fact:
      manifest: '{{ manifest_slurp.content | b64decode | from_yaml }}'

  - name: ({{ cluster_name }}) Set empty value for conf variable if no config {{ plugin.key }}
    ansible.builtin.set_fact:
      conf: ""
    when: plugin.value.config is undefined

  - name: ({{ cluster_name }}) Load config file {{ plugin.key }}
    ansible.builtin.set_fact:
      conf: "{{ lookup('file', '{{ plugin.value.config }}') | from_yaml }}"
    when: plugin.value.config is defined

  - name: ({{ cluster_name }}) Get services from manifest {{ plugin.key }}
    ansible.builtin.set_fact:
      services: '{{ manifest.services | map(attribute="name") | list }}'

  - name: ({{ cluster_name }}) Checking for plugin of this version has been installed {{ plugin.key }}
    ansible.builtin.shell:
      cmd: >
           echo "select enabled from _pico_plugin where name='{{ manifest.name }}' and version='{{ manifest.version }}'" |
           {{ bin_dir }}/picodata admin {{ run_dir }}/{{ cluster_name }}/{{ instances_on_host[0] }}.sock |
           grep true | wc -l
    register: plugin_status

  - name: ({{ cluster_name }}) Debug plugin_status {{ plugin.key }}
    ansible.builtin.debug:
      var: plugin_status
    when: debug == true

  - name: ({{ cluster_name }}) Set plugin_enable flag {{ plugin.key }}
    ansible.builtin.set_fact:
      plugin_enable: '{{ plugin.value.enable | default(true) }}'

  # TODO (deprecated) убрать в версии 26.1
  - name: ({{ cluster_name }}) Set plugin_enable flag for compability {{ plugin.key }}
    ansible.builtin.set_fact:
      plugin_enable: '{{ not (plugin.value.do_not_enable_plugin | bool) }}'
    when: plugin.value.do_not_enable_plugin is defined

  - block:

    - name: ({{ cluster_name }}) Checking for plugin any version has been installed {{ plugin.key }}
      ansible.builtin.shell:
        cmd: >
            echo "select version from _pico_plugin where name='{{ manifest.name }}' and enabled=true" |
            {{ bin_dir }}/picodata admin {{ run_dir }}/{{ cluster_name }}/{{ instances_on_host[0] }}.sock |
            grep ' [[:digit:]]*\.[[:digit:]]*\.[[:digit:]]* ' | tr -d '| '
      register: plugin_current_version

    - name: ({{ cluster_name }}) Debug plugin_current_version {{ plugin.key }}
      ansible.builtin.debug:
        var: plugin_current_version
      when: debug == true

    - block:
      - name: ({{ cluster_name }}) Count of already installed plugin {{ plugin.key }}
        ansible.builtin.shell:
          cmd: >
              echo "select version from _pico_plugin where name='{{ manifest.name }}' and enabled=false order by version limit 1" |
              {{ bin_dir }}/picodata admin {{ run_dir }}/{{ cluster_name }}/{{ instances_on_host[0] }}.sock |
              grep ' [[:digit:]]*\.[[:digit:]]*\.[[:digit:]]* ' | tr -d '| '
        register: plugin_old_version

      - name: ({{ cluster_name }}) Debug plugin_old_version {{ plugin.key }}
        ansible.builtin.debug:
          var: plugin_old_version
        when: debug == true

      - name: ({{ cluster_name }}) Generate install.sql file into plugin path {{ plugin.key }}
        ansible.builtin.template:
          src: config2sql.j2
          dest: '{{ plugins_dir }}/{{ manifest.name }}/{{ manifest.version }}/install.sql'
          force: true
          owner: '{{ user }}'
          group: '{{ group }}'

      - name: ({{ cluster_name }}) Set plugin_install_sql flag {{ plugin.key }}
        ansible.builtin.set_fact:
          plugin_install_sql: '{{ plugin.value.install_sql | default(true) }}'

      # TODO (deprecated) убрать в версии 26.1
      - name: ({{ cluster_name }}) Set plugin_install_sql flag for compability {{ plugin.key }}
        ansible.builtin.set_fact:
          plugin_install_sql: '{{ not (plugin.value.do_not_run_plugin_install_sql | bool) }}'
        when: plugin.value.do_not_run_plugin_install_sql is defined

      - name: ({{ cluster_name }}) Install plugin into cluster (run install.sql) {{ plugin.key }}
        ansible.builtin.shell:
          cmd: >
              { echo "\set d ;"; cat {{ plugins_dir }}/{{ manifest.name }}/{{ manifest.version }}/install.sql; } |
              {{ bin_dir }}/picodata admin {{ run_dir }}/{{ cluster_name }}/{{ instances_on_host[0] }}.sock
        when: plugin_install_sql | bool == true

      when: plugin_current_version.stdout == '' or plugin_current_version.stdout is version(manifest.version, '<')

    when: plugin_status.stdout == "0"

  - block:

    - name: ({{ cluster_name }}) Copy plugin config on server {{ plugin.key }}
      ansible.builtin.copy:
        src: '{{ plugin.value.config }}'
        dest: '{{ plugins_dir }}/{{ manifest.name }}/{{ manifest.version }}/config.yaml'
        owner: '{{ user }}'
        group: '{{ group }}'
      register: res

    - name: ({{ cluster_name }}) Configure plugin {{ plugin.key }}
      ansible.builtin.shell:
        cmd: >
             {{ bin_dir }}/picodata plugin configure {{ manifest.name }} {{ manifest.version }}
             {{ plugins_dir }}/{{ manifest.name }}/{{ manifest.version }}/config.yaml
             --peer {{ listen_address }}:{{ first_bin_port }}
             {% if iproto_tls == true %}
             --tls-auth
             --tls-cert {{ cert_dir }}/{{ cluster_name }}/tls/{{ iproto_cert_file | basename }}
             --tls-key {{ cert_dir }}/{{ cluster_name }}/tls/{{ iproto_key_file | basename }}
             --tls-ca {{ cert_dir }}/{{ cluster_name }}/tls/{{ iproto_ca_file | basename }}
             {% endif %}
             --service-password-file {{ data_dir }}/{{ cluster_name }}/{{ instances_on_host[0] }}/.picodata-cookie
             --timeout {{ plugin.value.plugin_timeout | default(300) }}
      when: res.changed is defined and res.changed == true

      ignore_errors: True

    when: plugin.value.config is defined and plugin.value.config != '' and plugin_install_sql | default(true) | bool == true and plugin_enable == true

  run_once: true
