---
# tasks for remove cluster

- name: ({{ cluster_name }}) Set remove variable
  ansible.builtin.set_fact:
    tag: 'remove'

- name: ({{ cluster_name }}) Generate list of instances per server
  ansible.builtin.import_tasks:
    file: genin.yml

- block:

  # without autonames
  - block:
    - name: ({{ cluster_name }}) Remove systemd unit files
      ansible.builtin.systemd:
        name: '{{ cluster_name }}@{{ instance }}.service'
        enabled: false
        state: stopped
        scope: '{{ systemd_scope }}'
      loop: '{{ instances_on_host }}'
      loop_control:
        loop_var: instance
      ignore_errors: True
      environment:
        XDG_RUNTIME_DIR: '/run/user/{{uid.stdout}}'

    - name: ({{ cluster_name }}) Remove systemd env dirs
      ansible.builtin.file:
        name: '{{ systemd_dir }}/{{ cluster_name }}@{{ instance }}.service.d'
        state: absent
      loop: '{{ instances_on_host }}'
      loop_control:
        loop_var: instance

    - name: ({{ cluster_name }}) Remove systemd template file
      ansible.builtin.file:
        name: '{{ systemd_dir }}/{{ cluster_name }}@.service'
        state: absent

    - name: ({{ cluster_name }}) Remove systemd unit file for all picodata processes
      ansible.builtin.shell:
        cmd: 'rm -rf {{ item }}'
      loop:
        - '{{ systemd_dir }}/{{ cluster_name }}@*'
        - '{{ systemd_dir }}/*/{{ cluster_name }}@*'
      ignore_errors: True

    when: autonames|bool == false

  # with autonames
  - block:

    - name: ({{ cluster_name }}) Stop systemd service
      ansible.builtin.systemd:
        name: '{{ cluster_name }}-{{ instance }}.service'
        enabled: false
        state: stopped
        scope: '{{ systemd_scope }}'
      loop: '{{ instances_on_host }}'
      loop_control:
        loop_var: instance
      ignore_errors: True
      environment:
        XDG_RUNTIME_DIR: '/run/user/{{uid.stdout}}'

    - name: ({{ cluster_name }}) Remove systemd unit file
      ansible.builtin.file:
        name: '{{ systemd_dir }}/{{ cluster_name }}-{{ instance }}.service'
        state: absent
      loop: '{{ instances_on_host }}'
      loop_control:
        loop_var: instance

    - name: ({{ cluster_name }}) Remove systemd unit file for all picodata processes
      ansible.builtin.shell:
        cmd: 'rm -rf {{ item }}'
      loop:
        - '{{ systemd_dir }}/{{ cluster_name }}-*'
        - '{{ systemd_dir }}/*/{{ cluster_name }}-*'
      ignore_errors: True

    when: autonames|bool == true

  - name: Reset failed systemd service
    ansible.builtin.command:
      cmd: 'systemctl reset-failed --{{ systemd_scope }} {{ cluster_name }}* --all'
    environment:
      XDG_RUNTIME_DIR: /run/user/{{uid.stdout}}
    changed_when: false

  - name: ({{ cluster_name }}) Reload systemd services
    ansible.builtin.systemd:
      daemon_reload: true
      scope: '{{ systemd_scope }}'
    environment:
      XDG_RUNTIME_DIR: /run/user/{{uid.stdout}}

  become: true
  become_user: '{{ systemd_user }}'
  when: init_system == 'systemd'
# end block

- block:
  - name: ({{ cluster_name }}) Remove supervisord configs
    ansible.builtin.file:
      name: '{{ supervisord_dir }}/{{ cluster_name }}'
      state: absent
    when: rootless == false

  - name: ({{ cluster_name }}) Remove configs from supervisord dir if set purge variable and rootless
    ansible.builtin.shell:
      cmd: 'rm -f {{ supervisord_dir }}/{{ cluster_name }}/*'
    when: rootless == true

  - name: ({{ cluster_name }}) Stop cluster in supervisord
    ansible.builtin.command:
      cmd: '/usr/bin/supervisorctl -c {{ supervisord_dir }}/{{ cluster_name }}.conf update'
    ignore_errors: True

  - name: ({{ cluster_name }}) Disable systemd service for supervisord
    ansible.builtin.systemd:
      name: 'supervisord-{{ cluster_name }}.service'
      enabled: false
      state: stopped
      scope: '{{ systemd_scope }}'
    ignore_errors: True
    environment:
      XDG_RUNTIME_DIR: /run/user/{{uid.stdout}}
    when: systemd_scope == 'user'

  - name: ({{ cluster_name }}) Remove supervisord configs
    ansible.builtin.file:
      name: '{{ supervisord_dir }}/{{ cluster_name }}.conf'
      state: absent
    when: systemd_scope == 'user'

  when: init_system == 'supervisord'
# end block

- name: ({{ cluster_name }}) Send SIGKILL signals for all picodata processes on servers
  ansible.builtin.shell:
    cmd: '/usr/bin/pkill -9 picodata && sleep 10'
  when: sigkill == "true"
  ignore_errors: True

- block:
  - name: ({{ cluster_name }}) Remove dirs if set purge variable when rootless is unset
    ansible.builtin.file:
      name: '{{ item }}'
      state: absent
    loop:
      - '{{ conf_dir }}/{{ cluster_name }}'
      - '{{ data_dir }}/{{ cluster_name }}'
      - '{{ run_dir }}/{{ cluster_name }}'
      - '{{ log_dir }}/{{ cluster_name }}'
      - '{{ cert_dir }}/{{ cluster_name }}'
    when: rootless == false

  - name: ({{ cluster_name }}) Remove data from dirs if set purge variable and rootless
    ansible.builtin.shell:
      cmd: 'rm -rf {{ item }}/*'
    loop:
      - '{{ conf_dir }}/{{ cluster_name }}'
      - '{{ data_dir }}/{{ cluster_name }}'
      - '{{ run_dir }}/{{ cluster_name }}'
      - '{{ log_dir }}/{{ cluster_name }}'
      - '{{ cert_dir }}/{{ cluster_name }}'
    when: rootless == true

  - name: ({{ cluster_name }}) Remove share_dir if set purge variable when rootless is unset
    ansible.builtin.file:
      name: '{{ share_dir }}/{{ cluster_name }}'
      state: absent
    when: rootless == false and remove_sharedir == true

  - name: ({{ cluster_name }}) Remove share_dir from dirs if set purge variable and rootless
    ansible.builtin.shell:
      cmd: 'rm -rf {{ share_dir }}/{{ cluster_name }}/*'
    when: rootless == true and remove_sharedir == true

  when: purge
# end block

- name: ({{ cluster_name }}) Remove report file
  become: false
  ansible.builtin.file:
    name: '{{ report_dir }}/report.yml'
    state: absent
  delegate_to: localhost
  run_once: true

- name: ({{ cluster_name }}) Remove tasks for become
  ansible.builtin.include_tasks:
    file: remove_become.yml
  when: rootless == false
