#!/bin/bash

help_msg () {
      echo ""
      echo "Backup picodata instance"
      echo ""
      echo "$0 [options]"
      echo ""
      echo "options:"
      echo "    -h            show brief help"
      echo "    -s sock-file  name of sock file of instance"
      echo "    -d dir        directory for backup"
      echo ""
      exit 0
}

[ $# -eq 0 ] && help_msg

# collect command line settings
while getopts 's:d:' param ; do
  case $param in
    s)
      SOCK="$OPTARG"
      ;;
    d)
      BACKUP_DIR="$OPTARG"
      ;;
    *)
      help_msg
      ;;
  esac
done

SNAP=$(echo -e "\lua\n box.snapshot()\n box.backup.stop()\n box.backup.start()\n" | {{ bin_dir }}/picodata admin $SOCK | grep -E "(snap|vylog|index|run)$" | sed -E 's/.* //g')

[ "$SNAP" = "" ] && exit 2

# /var/lib/picodata/test.storage-1001/00000000000000002055.snap > test.storage-1001
INSTANCE=$(dirname $SNAP | head -1 | xargs basename)
SNAP_DIR=$(dirname $SNAP|head -1)

SNAPOWNER=$(stat -c %U:%G $SNAP | head -1)
mkdir -p $BACKUP_DIR/$INSTANCE
chown $SNAPOWNER $BACKUP_DIR/$INSTANCE

cp -p $SNAP_DIR/.picodata-cookie $SNAP_DIR/pico_shredding_marker $BACKUP_DIR/$INSTANCE/
for F in $SNAP; do
  RELATION_PATH=$(dirname $(echo $F | sed "s|{{ data_dir }}/{{ cluster_name }}/$INSTANCE/||g"))
  mkdir -p $BACKUP_DIR/$INSTANCE/$RELATION_PATH
  cp -p $F $BACKUP_DIR/$INSTANCE/$RELATION_PATH
done

if [ ! -d "$BACKUP_DIR/share" ]; then
   mkdir -p "$BACKUP_DIR/share"
   cp -pr "{{ share_dir }}/{{ cluster_name }}/"*  $BACKUP_DIR/share/
fi

echo -e "\lua\n box.backup.stop()\n" | {{ bin_dir }}/picodata admin $SOCK &>/dev/null
