CREATE PLUGIN IF NOT EXISTS {{ manifest.name }} {{ manifest.version }};
{% for servicename in services %}
{% for tier in plugin.value.tiers | default(["default"]) %}
ALTER PLUGIN {{ manifest.name }} {{ manifest.version }} ADD SERVICE {{ servicename }} TO TIER {{ tier }};
{% endfor %}
{% endfor %}
{% if conf is defined %}
{% for conf_service, conf_params in conf.items() %}

ALTER PLUGIN {{ manifest.name }} {{ manifest.version }} SET 
{% for param, val in conf_params.items() %}
{% if loop.last %}{% set eol = ';' %}{% else %}{% set eol = ',' %}{% endif %}
  {{ conf_service }}.{{ param }} = '{{ val | replace("'", '"') }}'{{ eol }}
{% endfor %}
{% endfor %}

{% endif %}
{% if plugin.value.migration_context is defined %}
{% for param, val in plugin.value.migration_context.items() %}
ALTER PLUGIN {{ manifest.name }} {{ manifest.version }} SET migration_context.{{ param }} = '{{ val }}';
{% endfor %}

{% endif %}
ALTER PLUGIN {{ manifest.name }} MIGRATE TO {{ manifest.version }} OPTION (TIMEOUT {{ plugin.value.migration_timeout | default(300) }});
ALTER PLUGIN {{ manifest.name }} {{ manifest.version }} ENABLE;
