cluster:
  name: '{{ cluster_name }}'
  default_bucket_count: {{ default_bucket_count | default(30000) }}
  shredding: {{ shredding }}

  tier:
{% for name, params in tiers.items() %}
    {{ name }}:
      replication_factor: {{ params.replication_factor | default(1) }}
      can_vote: {{ params.can_vote | default(true) }}
{% if params.bucket_count is defined %}
      bucket_count: {{ params.bucket_count }}
{% endif %}
{% if params.can_vote is defined %}
      can_vote: {{ params.can_vote }}
{% endif %}
{% endfor %}

instance:
  instance_dir: '{{ data_dir }}/{{ cluster_name }}/{{ instance_name }}'
  name: '{{ instance_name }}'
  tier: '{{ tier.key }}'
  peer: [ {% for host in groups["all"] | difference([inventory_hostname ]) | sort %}{{ hostvars[host]['listen_address'] | default(ansible_fqdn) }}:{{ first_bin_port }},{% endfor %}{{ listen_address }}:{{ first_bin_port }} ]
  failure_domain: { {% if fd_uniq_per_instance %}'I': '{{ instance_name }}'{% else %}{{ fd }}{% endif %} }

  iproto_listen: '0.0.0.0:{{ first_bin_port + instance_num|int }}'
  iproto_advertise: '{{ listen_address }}:{{ first_bin_port + instance_num|int }}'
  http_listen: '0.0.0.0:{{ first_http_port + instance_num|int }}'
  admin_socket: '{{ run_dir }}/{{ cluster_name }}/{{ instance_name }}.sock'
  pg:
    listen: '0.0.0.0:{{ first_pg_port + instance_num|int }}'
    ssl: {{ pg_ssl }}

  share_dir: '{{ share_dir }}/{{ cluster_name }}'
{% if audit %}
{% if audit_to == "file" %}
  audit: '{{ log_dir }}/{{ cluster_name }}/audit-{{ instance_name }}.log'
{% elif audit_to == "pipe" and audit_pipe_command is defined %}
  audit: 'pipe:{{ audit_pipe_command }}'
{% else %}
  audit: '{{ audit_to }}:'
{% endif %}
{% endif %}

  log:
    level: {{ log_level }}
{% if log_to == "file" %}
    destination: '{{ log_dir }}/{{ cluster_name }}/{{ instance_name }}.log'
{% elif log_to == "pipe" and log_pipe_command is defined %}
    destination: 'pipe:{{ log_pipe_command }}'
{% endif %}
    format: '{{ log_format }}'
{% if tier.value.config is defined %}
  {{ tier.value.config | to_nice_yaml(indent=2) | indent(width=2) }}
{% endif %}
