{% for key, value in tier.value.tnt_params.items() %}
box.cfg{ {{ key }} = {{ value | human_to_bytes if key in [ "memtx_memory", "sql_cache_size", "wal_queue_max_size", "wal_max_size"
                                                           "vinyl_cache", "net_msg_max", "vinyl_max_tuple_size", "memtx_max_tuple_size",
                                                           "vinyl_page_size", "readahead" ] else value }} }
{% endfor %}
