{{ log_dir }}/{{ cluster_name }}/???.log {{ log_dir }}/{{ cluster_name }}/audit-???.log {
{% if rootless == false %}
    su picodata picodata
{% endif %}
    size {{ logrotate_size }}
    missingok
    rotate {{ logrotate_keepfiles }}
    compress
    create 0640 {{ user }} {{ group }}
    sharedscripts
    postrotate
{% if init_system == 'supervisord' %}
        /usr/bin/supervisorctl -c {{ supervisord_dir }}/{{ cluster_name }}.conf signal HUP all
{% else %}
{% if autonames == false %}
        /usr/bin/systemctl kill {% if rootless == true %}--user{% endif %} --all -s HUP {{ cluster_name }}@*
{% else %}
        /usr/bin/systemctl kill {% if rootless == true %}--user{% endif %} --all -s HUP {{ cluster_name }}-*
{% endif %}
{% endif %}
    endscript
}
