instances:
{{ list_instances | sort | to_nice_yaml() }}

prometheus:
{{ list_target | sort | to_nice_yaml() }}

http:
{{ list_http | sort | to_nice_yaml() }}

pg:
{{ list_pg | sort | to_nice_yaml() }}

bin:
{{ list_bin | sort | to_nice_yaml() }}
