instances:
{{ list_instances | to_nice_yaml(sort_keys=false) }}

prometheus:
{{ list_target | to_nice_yaml(sort_keys=false) }}

http:
{{ list_http | to_nice_yaml(sort_keys=false) }}

pg:
{{ list_pg | to_nice_yaml(sort_keys=false) }}

bin:
{{ list_bin | to_nice_yaml(sort_keys=false) }}
