{{ ansible_managed | comment }}

[Unit]
Description=Supervisor process control system for UNIX
Documentation=http://supervisord.org
After=network.target
StartLimitIntervalSec=600
StartLimitBurst=10

[Service]
{% if rootless == false %}
User={{ user }}
Group={{ group }}
{% endif %}

ExecStartPre=/bin/sh -c 'mkdir -p {{ log_dir }}/{{ cluster_name }}'

ExecStart=/usr/bin/supervisord -n -c {{ supervisord_dir }}/{{ cluster_name }}.conf
ExecStop=/usr/bin/supervisorctl -c {{ supervisord_dir }}/{{ cluster_name }}.conf $OPTIONS shutdown
ExecReload=/usr/bin/supervisorctl -c {{ supervisord_dir }}/{{ cluster_name }}.conf $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=50s

# Unlimited cores size
LimitCORE=infinity
# Increase fd limit for Vinyl
LimitNOFILE=65535

# Systemd waits until all xlogs are recovered
TimeoutStartSec=86400s
# Give a reasonable amount of time to close xlogs
TimeoutStopSec=60s

[Install]
WantedBy={% if rootless == false %}multi-user.target{% else %}default.target{% endif %}
