[program:{{ instance_name }}]
command=/usr/bin/picodata run --config {{ conf_dir }}/{{ cluster_name }}/{{ instance_name }}.conf

autostart=true
autorestart=true
startretries=3
startsecs=20
stopwaitsecs=60
user={{ user }}
redirect_stderr=true

{% if tier.value.extra_vars is defined %}
environment={% for param, val in tier.value.extra_vars.items() %}{% if loop.last %}{% set eol = '' %}{% else %}{% set eol = ',' %}{% endif %}{{ param }}={{ val | replace ("<INSTANCE_NUM>", "%02d"|format(instance_num|int) ) | replace ("<INSTANCE_NUM3>", "%03d"|format(instance_num|int) ) }}{{ eol }}{% endfor %}
{% endif %}
