[Unit]
Description=Picodata cluster {{ cluster_name }}@%i
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/picodata run --config {{ conf_dir }}/{{ cluster_name }}/%i.conf
Restart=on-failure
RestartSec=2

{% if rootless == false %}
User={{ user }}
Group={{ group }}
{% endif %}

Environment=RUST_BACKTRACE=full
{% if extra_vars is defined %}
{% for param, val in extra_vars.items() %}
Environment={{ param }}={{ val }}
{% endfor %}
{% endif %}

ExecStartPre=/bin/sh -c 'mkdir -p {{ data_dir }}/{{ cluster_name }}/%i'
ExecStartPre=/bin/sh -c 'mkdir -p {{ share_dir }}/{{ cluster_name }}'

# Disable OOM killer
OOMScoreAdjust=-1000

{% for param, val in systemd_params|dictsort %}
{{ param }}={{ val }}
{% endfor %}

[Install]
WantedBy={% if rootless == false %}multi-user.target{% else %}default.target{% endif %}

