[Service]
Environment=PICODATA_LISTEN=0.0.0.0:{{ first_bin_port + instance_num|int }}
Environment=PICODATA_ADVERTISE={{ listen_ip }}:{{ first_bin_port + instance_num|int }}
Environment=PICODATA_HTTP_LISTEN=0.0.0.0:{{ first_http_port + instance_num|int }}

# PICODATA_INSTANCE_TIER пока не используется
# Environment=PICODATA_INSTANCE_TIER={{ tier.key }}

{% if tier.value.tnt_params is defined %}
Environment=PICODATA_SCRIPT={{ conf_dir }}/{{ cluster_id }}/{{ tier.key }}.conf
{% endif %}