[Service]
Environment=PICODATA_LISTEN=0.0.0.0:{{ last_port_num }}
Environment=PICODATA_ADVERTISE={{ listen_ip }}:{{ last_port_num }}
Environment=PICODATA_INSTANCE_TIER={{ tier.key }}
Environment=PICODATA_HTTP_LISTEN=0.0.0.0:{{ last_port_num }}

{% if tier.value.memtx_memory is defined %}
Environment=PICODATA_SCRIPT={{ conf_dir }}/{{ cluster_id }}/{{ tier.key }}.conf
{% endif %}