cluster:
  name: {{ cluster_name }}
  default_bucket_count: {{ default_bucket_count | default(30000) }}

  tier:
  {% for name, params in tiers.items() %}
  {{ name }}:
      replication_factor: {{ params.replication_factor | default(1) }}
      can_vote: {{ params.can_vote | default(true) }}
{% if params.bucket_count is defined %}
      bucket_count: {{ params.bucket_count }}
{% endif %}
  {% endfor %}

{% if tier.value.config is defined %}
instance:
  {{ tier.value.config | to_nice_yaml(indent=2) | indent(width=2) }}
{% endif %}
